#bar {
  width: 100%;
  background-color: black
}

body {
  font-family: 'Oswald'
}

#searchField {
  height: 26px;
}

#bar #butt {
  height: 26px;
  background-color: white;
  color: white;
  border: none;
  overflow: hidden;
}

h4 {
  font-size: 30px
}

.tag {
  clear: right;
  float: right
}

.artist {
  clear:both;
}



.artist img {
  float: left;
  clear: both
}
