#bar {
  width: 100%;
  background-color: black
}

body {
  font-family: 'Oswald'
}

h4 {
  font-size: 30px
}

.searchField {
  border: 1px solid red;
  height: 26px;
}

.tag {
  border: 1px solid red;
  width: 100%;
  display: block;
  clear: right;
  float: right
}

.artist {
  border: 1px solid red;
  clear:right;
}

.artistBlock {
  display: inline-flex;
}

.artistname {
  width: 10%;
}

.artist img {
  border: 1px solid red;

  float: left;
}

.summary {
  border: 1px solid red;
  width: 60%;
  float: left
}
