<div class="artist" ng-click="$ctrl.getDetails()">
  <div class="artistBlock">
    <div class="artistname"><a ng-href="http://www.youtube.com/results?search_query={{$ctrl.item.name}}">{{$ctrl.item.name}}</a></div>
      <div class="descriptionBlock">
        <img src="{{$ctrl.artist.image[3]['#text']}}"></img>
        <div class="summary">
          <div>{{$ctrl.bio}}</div>
        </div>
        <div class="taglist">
          <tag ng-repeat="tag in $ctrl.tags" tag=tag />
        </div>
      </div>
  </div>
</div>
